<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.tec.bamxapp">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAMXapp">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJI21MhiubzPS76LyTTHR0yAOaYGmKcLc"/>
        <activity
            android:name=".Rutas"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".InventarioEntregas2"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".InventarioEntregas"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".InventarioOpciones"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".EntregasInventario"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Entregas2"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Entregas"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Usuario"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".InventarioCompletado"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".InventarioConfirmar"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".InventarioFinalizar"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Inventario2"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Inventario"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>